.postbarEditorContainer{
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
    transition: all 0.1s ease-out;
  }

  .blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: "Hoefler Text", "Georgia", serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
  }

 .code-block{
   color: red;
   background-color: lightgray;

 }