.iconButton {
  padding: 0 !important;
  color: #000 !important;
  margin: 0.2rem;
  z-index: 1;
}

.iconButton:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
}


.icon {
  color: #fff;
}

.newDocButton {
  color: white !important;
  border-color: #fff !important;
  display: flex !important;
  align-self: flex-start !important;
  text-transform: capitalize !important;
  padding: 0 !important;
}

.newDocButton:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.newDocIcon {
  color: #fff;
  font-size: x-large;
}